* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.videoFundo {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
}
.videoFundo video {
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;
}
.mascara {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    background: linear-gradient(109deg, rgba(10,12,16,0.99) 15%, rgba(10,12,16,0.7) 50%, rgba(10,12,16,0.99)85%);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #000;
    border-bottom: 3px solid #fff;
    width: 100%;
}

.header section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
    position: relative;
}

.header section a img {
    height: 6rem;
    padding-left: 40px;

}

.header section nav a {
    margin: 0 1rem;
    font-size: 1.5rem;
    color: #fff;
    transition: 0.5s linear;
}

.header section nav a:hover {
    color:rgb(218, 178, 103);
    border-bottom: 2px solid rgb(218, 178, 103);
    padding-bottom: 5px;
}
 .caixaPrincipal {
    min-height: 100vh;
    display: flex;
    align-items: center;
 }

 .caixaPrincipal div {
    max-width: 60rem;
 }

 .caixaPrincipal div h3 {
    color: #fff;
    font-size: 50px;
    text-transform: uppercase;
    padding: 30px;
    margin-top: 20px;
 }

 .caixaPrincipal div p {
    color: #fff;
    font-size: 20px;
    padding: 30px;
 }

 .caixaPrincipal div a {
    background-color: chocolate;
    padding: 18px;
    color: #fff;
    font-size: 20px;
    margin-left: 20px;
 }

 .caixaPrincipal div a:hover {
    background-color: #fff;
    color: chocolate;
 }